* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #39a6b2;
  font-family: helvetica, arial, sans-serif;
}
/*Apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  background-image: url("./images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
  text-decoration: none;
  color: #fce138;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 7px 0px;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  padding: 10 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: #024e76;
}
/*Sections*/
section {
  padding: 60px;
}
/*Hero Section */
.hero {
  padding: 60px;
  background-image: url("./images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.text {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}
/*Sign-up form*/
.hero-form {
  border: 3px solid #024e76;
  background-color: rgba(252, 225, 56, 0.8);
  padding: 20px;
  color: #024e76;
  margin: 3.5%;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
.hero-form p {
  margin: 5px 0 15px 0;
}
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.hero-form label {
  margin: 0 5px;
}
.hero-form button {
  color: #fce138;
  background-color: #024e76;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}
/*Sections*/
.section-title {
  font-size: 48px;
  color: #024e76;
  border-bottom: 3px solid;
  border-color: #fce138;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

/*what-we-do section*/
.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
/*What-you-do-section*/
.steps {
  background-color: #fce138;
}
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.step h3 {
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
}
.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.step-img {
  flex: 1 12%;
  margin-right: 20px;
}
.step-img img {
  max-width: 100%;
}
.step-text {
  flex: 12;
}
.step-text p {
  color: #39a6b2;
  font-size: 18px;
}
.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}

/*Trainer Section*/
.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.trainer {
  margin: 10px;
  flex: 1;
  background-color: #024e76;
  color: #fce138;
}
.trainer img {
  width: 100%;
}
.trainer-bio {
  padding: 5px;
  line-height: 1.3;
}
.trainer-bio h3 {
  font-size: 28px;
}
.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}
.trainer-bio p {
  font-size: 17px;
}
/*Reach Out Section*/
.contact {
  background: #024e76;
}
.contact h2 {
  color: #fce138;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info > * {
  flex: 1;
  margin: 15px;
}
.contact-info iframe {
  height: 400px;
}
.contact-info div {
  color: white;
}
.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}
.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}
.contact-info a {
  color: #fce138;
}
.contact-form input,
.contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
}
.contact-form button {
  width: 100%;
  border: none;
  background-color: #fce138;
  color: #024e76;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

/*Utility classes*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.primary-border {
  border-color: #fce138;
}
.secondary-border {
  border-color: #39a6b2;
}
.flex-row {
  display: flex;
}
/*Media Queries*/
/* Media query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }
  .text,
  .hero-form {
    width: 100%;
  }
  .text {
    text-align: center;
  }
  .section-title {
    width: 80%;
  }
  .trainer {
    flex: 0 70%;
  }
  .contact-info iframe {
    flex: 1 100%;
  }
}

/* Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 80px;
  }
  section {
    padding: 30px 15px;
  }
  .step h3 {
    flex: 1 100%;
    text-align: center;
  }
  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }
  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .step-text {
    flex: 100%;
  }
}
/* Media query for mobile phones and smaller*/
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 100px;
  }
  .hero-form button {
    width: 100%;
  }
  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .trainer {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
}
